
.contentDiv {
    min-height: 150px; 
    background-color: rgb(255, 255, 255);
    border-width: thin;
    border-style: solid;
    border-color: grey;
    border-radius: 5px;
}

.work-header{
    font-size: medium;
    font-weight: bold;
}

